@use "../../styles/variables";
@use "../../styles/globals";

/* Sidebar-specific styles */
.custom-sidenav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: variables.$gradient-bg;
    transition: width 0.3s ease;

    @media (max-width: 1200px) {
        width: 64px;
    

    .logo img {
        content: url('../../assets/gamenews-logo-condensed.svg');
        display: flex;
        justify-content: center;
        margin: auto;
        height: 32px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

    @media (max-width: 625px) {
        display: none;
    }
}

.custom-sidenav-container {
    .nav-link {
        &:hover {
            background-color: variables.$primary-color;
        }
    }
}
