@use "../styles/variables";
@use "../styles/globals";


aside {
    display: flex;
    flex: 2;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    min-width: 250px;
    background: variables.$gradient-bg;
    transition: width 0.3s;

    @media (max-width: 1200px) {
       display: none;
    }

    h2{
        color: #fff;
        padding: 0 20px;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 800px;
    background-color: #fff;
    width: 500px;

    @media (max-width: 1200px) {
        display: flex;
    justify-content: center;
    align-items: center;
        width: 100%;
        min-width: auto;
        margin: auto;
        box-sizing: border-box;
        padding: 10px;
     }
}

.content {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: auto;
    padding: 0px 0px 10px 0px;
    background-color: red;
}

